<!DOCTYPE html>

<head>
     <title>About Page</title>
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    <div class="main-content">
        {{>header}}
    <img src="/img/marble24.png">
    </div>
    
    {{>footer}}
</body>

</html>